{% extends "base.html" %}
{% block title %}Asignar Usuarios a {{ cliente.nombre }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Asignar Usuarios a {{ cliente.nombre }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if request.user|has_permission:'clientes.asignar_usuarios' %}
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Guardar
      </button>
    {% endif %}
    <a href="{% url 'clientes:clientes_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
