{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <div class="fs-4 fw-bold">7.390 PYG</div>
        <div>Tasa USD</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-success">
      <div class="card-body">
        <div class="fs-4 fw-bold">52</div>
        <div>Transacciones hoy</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}